{% if page.bg %}
  <aside class="sidebar" role="note" style="background-image: url({{ site.url }}{{ site.images }}/{{ page.bg }})">
{% else %}
  <aside class="sidebar" role="note" style="background-image: url({{ site.url }}{{ site.images }}/bg.svg)">
{% endif %}

  <div class="cover">

    <div class="cover-text">

      <p>
        {% if page.summary %}
          {{ page.summary }}
        {% endif %}
      </p>

    </div>

      <div class="cover-social">
          <span>
          <div class="fb-like" data-href="{{site.url}}{{page.url}}" data-layout="button_count"
               data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
              </span>
          <span class="twitter">
          <a class="twitter-share-button"
             href="https://twitter.com/intent/tweet?text={{ page.title }}, {{ page.summary }}"
             data-size="large">
              Tweet</a>
              </span>
      </div>

  </div>

  <div id="switcher"></div>
</aside>
