{% if page.bg %}
  <aside class="sidebar" role="note" style="background-image: url({{ site.url }}{{ site.images }}/{{ page.bg }})">
{% else %}
  <aside class="sidebar" role="note" style="background-image: url({{ site.url }}{{ site.images }}/bg.svg)">
{% endif %}

  <div class="cover">

    <div class="cover-text">

      <p>
        {% if page.summary %}
          {{ page.summary }}
        {% endif %}
      </p>

    </div>

      <div class="cover-social">
          <div class="cover-social-link">
              <a href="https://www.instagram.com/debhoow/" target="_blank">
                  <span><img src="{{ site.url }}{{ site.images }}/instagram.svg" width="30"/></span>
              </a>
              <a href="https://www.facebook.com/cairatuverras/" target="_blank">
                  <span><img src="{{ site.url }}{{ site.images }}/facebook.svg" width="30"/></span>
              </a>
              <a href="https://www.instagram.com/florentduveau/" target="_blank">
                  <span><img src="{{ site.url }}{{ site.images }}/instagram.svg" width="30"/></span>
              </a>
              <a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank">
                  <span><img src="{{ site.url }}{{ site.images }}/rss.svg" width="30"/></span>
              </a>
          </div>
              <div class="cover-social-share">
          <span>
          <div class="fb-like" data-href="{{site.url}}{{page.url}}" data-layout="button_count"
               data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
              </span>
          <span class="twitter">
          <a class="twitter-share-button"
             href="https://twitter.com/intent/tweet?text={{ page.title }}, {{ page.summary }}"
             data-size="large">
              Tweet</a>
              </span>
      </div>
      </div>

  </div>

  <div id="switcher"></div>
</aside>
